__pycache__/
*.pyc
venv/
.env

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/tfplan

*.log
.DS_Store

.vscode/
.idea/
*.swp
*.swo

Thumbs.db