body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 40px;
    align-items: center;
}

button {
    padding: 12px;
    margin: 10px;
    font-size: 16px;
}

pre {
    background: black;
    color: #f3f2f5;
    padding: 20px;
}
